body {
  background-color: azure;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  padding: 5%;
  background-color: lightslategray;
  aspect-ratio: 3/4;
  gap: 5%;
}

.display {
  height: 10%;
  width: 90%;
  background-color: beige;
  flex: auto;
  padding: 5%;
  align-self: center;
  font-size: 7vw;
  font-family: 'Courier New', Courier, monospace;
  text-align: end;
  align-content: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  width: auto;
  height: 70%;
}

.row {
  display: flex;
  flex-direction: row;
  flex: auto;
  width: 100%;
  height: auto;
}

button {
  background-color: lavender;
  width: 25%;
  height: auto;
  aspect-ratio: 4/3;
}

.spacer {
  display: flex;
  flex:auto;
  width: 25%;
  height: auto;
  aspect-ratio: 4/3;
}

.dblSize {
  aspect-ratio: 8/3;
  width: 50%;
}